
<head>
   <title>Online Treatment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<style>
.button {
background-color: #1c87c9;
border: none;
color: white;
padding: 20px 34px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
}
</style>
<body>
<h1 style="color:#3cb371;">Online Treatment</h1>
                
   <div class="container-fluid">
    <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"> 
       <img src="assets\Images\prasad.png" width="290" height="240"
        alt="Picture of Doctor" />

<h3>DR.Prasad Rao Voleti</h3>
<p>MBBS,MD,Fellowship
<br>Director-Internal Medicine
<br>Years of Experience:43 years
<br>Consultant Fee:1500/-
<a href="https://www.credihealth.com/doctor/prasad-rao-voleti-internal-medicine-specialist/overview" class="button">Book Appointment</a>
</p></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">
      <img src="assets\Images\lalitha.png" width="290" height="240"
        alt="Picture of Doctor" />

<h3>DR.Lalitha Sekhar</h3>
<p>MBBS,MD-medicine
<br>Director - Internal Medicine
<br>Years of Experience:40 years
<br>Consultant Fee:1500/-
<a href="https://www.credihealth.com/doctor/lalitha-sekhar-internal-medicine-specialist/overview" class="button">Book Appointment</a>
</p></div>
<div class="col-sm-4" style="background-color:lavender;">
  <img src="assets\Images\gupta (1).png" width="290" height="240"
        alt="Picture of Doctor" />
<h3>DR.Vaibhav K Gupta</h3>
<p>MBBS,MD-medicine
<br>Senior Consultant - Internal Medicine
<br>Years of Experience:15 years
<br>Consultant Fee:800/-
<a href="https://www.credihealth.com/doctor/vaibhav-k-gupta-internal-medicine-specialist/overview" class="button">Book Appointment</a>
</p></div>
  </div>
</div>

<div class="container-fluid">
 
    <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"> 
      <img src="assets\Images\neha.png" width="290" height="240"
        alt="Picture of Doctor" />
<h3>DR.Neha Gupta</h3>
<p>MBBS,MD-General Medicine,Fellowship-Infectious Diseases
<br>Visiting Consultant- Internal Medicine
<br>Years of Experience:12 years
<br>Consultant Fee:1500/-
<a href="https://www.credihealth.com/doctor/neha-gupta-internal-medicine-specialist/overview" class="button">Book Appointment</a>
</p></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">


<img src="assets\Images\meenu.png" width="290" height="240"
        alt="Picture of Doctor" />

<h3>DR.Meenu Saharan</h3>
<p>MBBS,MD-medicine
<br>Senior Resident - Internal Medicine
<br>Years of Experience:4 years
<br>Consultant Fee:700/-
 <a href="https://www.credihealth.com/doctor/meenu-saharan-internal-medicine-specialist/overview" class="button">Book Appointment</a>
</p>
</div>


<div class="col-sm-4" style="background-color:lavender;">
  <img src="assets\Images\akanksha.png" width="290" height="240"
  alt="Picture of Doctor" />

<h3>DR.Akanksha Rastogi</h3>
<p>MBBS,DNB- Internal Medicine
<br>Associate Consultant - Internal Medicine
<br>Years of Experience:11 years
<br>Consultant Fee:800/-
<a href="https://www.credihealth.com/doctor/akanksha-rastogi-internal-medicine-specialist/overview" class="button">Book Appointment</a>
</p></div>
</div>
</div>
</body>


    
