<html>

<head>
  <style>
    body {
      background-image: url('https://i.pinimg.com/564x/3b/a0/fc/3ba0fc7bc1d7a3fa7985f18b54f3e7c7.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
</head>

<body>
  <div class="row">
    <div class="text-center">
      <br>
    
     <!--<h1 style="color:white;">&nbsp;&nbsp; </h1>-->
      <br>
     <!--<h1 style="color:white;">&nbsp;&nbsp;{{Date}}</h1>--> 
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card card-infected">
          <div class="card-body">
            <h3 class="card-title">CONFIRMED</h3>
            <h3 style="color:blue;">
              <p class="card-text">{{TotalConfirmed}}</p>
            </h3>

            <p></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-infected">
          <div class="card-body">
            <h3 class="card-title">ACTIVE</h3>
            <h3 style="color:red;">
              <p class="card-text">{{TotalActive}}</p>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-infected">
          <div class="card-body">
            <h3 class="card-title">RECOVERED</h3>
            <h3 style="color:green;">
              <p class="card-text">{{TotalRecovered}}</p>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-infected">
          <div class="card-body">
            <h3 class="card-title">DEATHS</h3>
            <h3 style="color:red;">
              <p class="card-text">{{TotalDeaths}}</p>
            </h3>
          </div>
        </div>
      </div>

     
    </div>
  </div>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="text-center">

        &nbsp;&nbsp;<label style="text-align:center">Country</label>&nbsp;
        <select (change)="getCountry($event.target.value)">
          <option *ngFor="let country of countries" value={{country.Slug}}>
            {{country.Country}}
          </option>
        </select>
        <br><br>
        <button style="text-align: center;" (click)="getCoronaData()">Get CoronaVirus Data</button>
        <br><br>
        
        <h1>Confirmed Cases:{{Confirmed}}</h1>
        <h1>Active Cases:{{Active}}</h1>
        <h1>Recovered Cases:{{Recovered}}</h1>
        <h1>Death Cases:{{Deaths}}</h1>
       
      </div>
    </div>
  </div>
</body>

</html>

<!--<div class ="container">
  <div class="row">
    <div class="col chart-wrapper">
      <canvas baseChart
         [chartType] = "lineChartType"
         [datasets] = "lineChartData"
         [labels] = "lineChartLabels"
      >
      </canvas>
    </div>
  </div>
</div>

<google-chart [data]="pieChart"></google-chart>-->