
<head>

    <style>
    body {
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTneUQDWukny3G6ZXK2BO2KDLbQZqORe5ZHFQ&usqp=CAU');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
    
    
    </style>
    </head>
    <body>
    
    <img src="assets\Images\ttl.PNG" alt="logo" width="20%">
    
    <h1  style="color:MediumSeaGreen;" ><i><marquee>Hola!Welcome to Track Together</marquee></i></h1>
    <br><br>
    <div class = "row">
        <div class = "text-center">
    <h1 style="color:silver;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Track Together notifies you quickly the no of covid cases in your country. </h1>
    <br><br><br>
    <h1 style="color:whitesmoke;">It also provides information about:<br>symptoms<br>prevention<br>Home remedies and medicine <br>for "The Novel Corona Virus".</h1>
    </div>
    </div>
    </body>
    
    
    